jupyterlab
jupyter
jupyterlab-lsp
numpy
pandas
matplotlib
selenium
openpyxl
lxml
seaborn
plotly
python-dotenv
psycopg2-binary
plotly 
dash
dash-core-components
dash-html-components
dash-bootstrap-components
nbformat
sqlalchemy
yfinance
flasgger