html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

.chart {
  flex-grow: 1;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}

.chart-container {
  width: auto;
  height: 400px;
  padding: 0;
  margin: 0;
}

.info-container,
.chart-container {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}


.divider {
  display: flex;
  flex-direction: column;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

.img {
  aspect-ratio: 1.42;
  object-fit: cover;
  object-position: center;
  width: 100%;
  margin-top: 20px;
  min-height: 20px;
  min-width: 20px;
  overflow: hidden;
}

footer {
  background-color: aqua;
  padding: 5px 20px;
  /* 上下 10px，左右 20px 的內縮 */
}


@media (max-width: 991px) {
  .img {
    width: 50%;
    margin-top: 20px;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
  }
}

/* 基本樣式 */
div {
  border: 1px solid #ccc;
  /* 邊框 */
  border-radius: 5px;
  /* 圓角 */
}

/* 第一個 div 的特定樣式 */
div:first-child {
  font-weight: bold;
  /* 加粗 */
}

/* 第二個 div 的特定樣式 */
div:nth-child(2) {
  color: #666;
  /* 文字顏色 */
}


/* 排版使用 */
* {
  border: 0px solid #333;
  // box-sizing: border-box;
}


.link-button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
  border-radius: 4px;
}

.link-button:hover {
  background-color: #45a049;
}



.strategy-detail-element {
  display: flex;
  flex-direction: column;
  /* 设置为垂直方向上的列排列 */
  justify-content: center;
  /* 在容器中垂直居中 */
  align-items: flex-start;
  /* 从左侧对齐 */
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.strategy-detail-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
  /* 可选：增加标题与内容之间的间距 */
}

.strategy-detail-content {
  font-size: 16px;
}


.scrollable-list {
  max-height: 350px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.etf-item {
  margin-bottom: 5px;
  padding: 5px;
  border-bottom: 1px solid #eee;
}