.news-rounded-box {
  background-color: #f0f0f0;
  justify-content: center;
  height: 100%;
  border-radius: 5px;
  margin: 10px 10px 0 10px;
  padding: 10px;
  overflow-y: auto;
  /* 垂直方向溢出時顯示滾動條 */
  border: 1px solid black;
  /* 指定完整的邊框樣式 */
}