<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ETF 換股策略</title>
  <!-- 確認沒問題 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/loading-bar.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/content-section.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/columns.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tabs.css') }}" />

  <!-- 以下待確認 -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>
  <div class="navbar">
    <div class="logo">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" />
      <span>ETFExplorer</span>
    </div>
  </div>

  <!--
  <div class="loading-bar-container">
    <div class="loading-bar"></div>
  </div>
  -->
  <div class="content-section">
    <div class="left-column">
      <section>
        <div class="tab-box">
          <div class="custom-tab active" data-div-id="01" onclick="showDiv('01')">ETF換股預測</div>
          <div class="custom-tab" data-div-id="02" onclick="showDiv('02')">定期定額回測</div>
        </div>
        {% include 'tabs/tab_01.html' %}
        {% include 'tabs/tab_02.html' %}
      </section>
    </div>

    <div class="right-column">
      <section class="news-rounded-box">
        <h2>Latest News</h2>
        <div id="news-container">
          {% for news in news_list[:5] %} {% include 'news_block.html' %} {%
          endfor %}
        </div>
      </section>
    </div>
  </div>

  <hr>
  <footer>
    <p>© 2024 ccip公司名稱. 版權所有.</p>
    <p><a href="#contact">聯繫我們</a></p>
  </footer>


  <!-- 以下已確認 -->
  <script src="{{ url_for('static', filename='js/show-div.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
  <script src="{{ url_for('static', filename='js/toggle-backtest-window.js') }}"></script>


  <!-- 下拉式選單 -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // 取得下拉式選單元素
      var selectElement = document.getElementById("dividendRate");
      const yieldTable = document.getElementById('yieldTable');

      // 預設選擇 4%
      selectElement.value = "5";

      // 創建加載中提示元素
      const loadingMessage = document.createElement('div');
      loadingMessage.id = 'loadingMessage';
      loadingMessage.innerText = '加載中，請稍候...';
      loadingMessage.style.display = 'none';
      loadingMessage.style.position = 'fixed';
      loadingMessage.style.top = '50%';
      loadingMessage.style.left = '50%';
      loadingMessage.style.transform = 'translate(-50%, -50%)';
      loadingMessage.style.padding = '10px';
      loadingMessage.style.backgroundColor = 'rgba(0, 0, 0, 0.7)';
      loadingMessage.style.color = 'white';
      loadingMessage.style.borderRadius = '5px';
      loadingMessage.style.zIndex = '9999';
      document.body.appendChild(loadingMessage);

      // 監聽下拉式選單的 change 事件
      selectElement.addEventListener("change", function () {
        var selectedRate = parseInt(selectElement.value);
        const previousValue = selectElement.getAttribute('data-previous-value') || "5";
        selectElement.setAttribute('data-previous-value', selectedRate);

        const controller = new AbortController();
        const timeoutDuration = 20000;
        const timeoutId = setTimeout(() => controller.abort(), timeoutDuration);

        loadingMessage.style.display = 'block';
        console.log('Loading message should be visible now');

        const startTime = Date.now();

        Promise.all([
          fetch(`/update_yield?value=${selectedRate}`, {
            method: 'GET',
            signal: controller.signal
          }).then(response => {
            if (!response.ok) throw new Error('Network response was not ok');
            return response.json();
          }),
          fetch(`/update_plot?value=${selectedRate}`, {
            method: 'GET',
            signal: controller.signal
          }).then(response => {
            if (!response.ok) throw new Error('Network response was not ok');
            return response.json();
          })
        ]).then(([yieldData, plotData]) => {
          updateYieldTable(yieldData);
          updatePlot(plotData);
        }).catch(error => {
          if (error.name === 'AbortError') {
            console.error('Request timed out');
            alert('Request timed out, please try again later');
          } else {
            console.error('Error fetching data:', error);
            alert('Error fetching data, please try again later');
          }
          // 重置選擇值為之前的值
          selectElement.value = previousValue;
          console.log('Select value reset to:', previousValue);
        }).finally(() => {
          clearTimeout(timeoutId);
          const elapsedTime = Date.now() - startTime;
          const minimumWaitTime = 1000;  // 最少等待時間為1秒
          const remainingTime = Math.max(0, minimumWaitTime - elapsedTime);

          setTimeout(() => {
            loadingMessage.style.display = 'none';
            console.log('Loading message should be hidden now');
          }, remainingTime);
        });
      });
    });

    function formatNumber(value, decimals = 2, asPercentage = true) {
      if (asPercentage) {
        return (value * 100).toFixed(decimals) + '%';
      }
      return value.toFixed(decimals);
    }

    function updateYieldTable(data) {
      const table = document.getElementById('yieldTable');
      const etfCountDiv = document.getElementById('how-many-etf');

      // 清空現有表格內容
      table.innerHTML = '';

      // 創建表頭
      let headerRow = table.insertRow();
      let noHeader = document.createElement('th');
      noHeader.textContent = 'No.';
      headerRow.appendChild(noHeader);

      for (let key in data[0]) {
        let th = document.createElement('th');
        th.textContent = key;
        headerRow.appendChild(th);
      }

      // 填充數據
      data.forEach((row, index) => {
        let tr = table.insertRow();
        let noCell = tr.insertCell();
        noCell.textContent = index + 1;

        for (let key in row) {
          let td = tr.insertCell();
          if (key === '現金殖利率') {
            td.textContent = formatNumber(row[key]);
          } else {
            td.textContent = row[key];
          }
        }
      });

      // 更新總數顯示
      etfCountDiv.textContent = '總共幾檔ETF: ' + data.length;
    }

    function updatePlot(graphJSON1) {
      var layout = graphJSON1.layout || {};
      console.log(graphJSON1);

      layout.autosize = true;
      layout.margin = {
        l: 50,
        r: 50,
        t: 50,
        b: 50
      };

      if (graphJSON1.data && graphJSON1.data.length > 0) {
        Plotly.newPlot("graph-1", graphJSON1.data, layout, { responsive: true });
      } else {
        console.error("Graph data is empty or invalid");
      }
    }
  </script>
  <!-- 繪圖 chart 1 -->

  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      var graphJSON1 = {{ graphJSON1 | safe
    }};
    console.log(graphJSON1);

    var layout1 = graphJSON1.layout || {};
    layout1.autosize = true;
    layout1.margin = {
      l: 50,
      r: 50,
      t: 50,
      b: 50
    };

    if (graphJSON1.data && graphJSON1.data.length > 0) {
      Plotly.newPlot("graph-1", graphJSON1.data, layout1, { responsive: true });
    } else {
      console.error("Graph data is empty or invalid");
    }

    });
  </script>


  <!-- 繪圖 chart 2 -->

  <script>
    document.addEventListener('DOMContentLoaded', (event) => {

      var graphJSON2 = {{ graphJSON2 | safe
    }};
    console.log(graphJSON2);

    var layout2 = graphJSON2.layout || {};
    layout2.autosize = true;
    layout2.margin = {
      l: 50,
      r: 50,
      t: 50,
      b: 50
    };

    if (graphJSON2.data && graphJSON2.data.length > 0) {
      Plotly.newPlot("graph-2", graphJSON2.data, layout2, { responsive: true });
    } else {
      console.error("Graph data is empty or invalid");
    }
    });
  </script>

</body>

</html>