<div id="01" class="custom-rounded-box">
    <h1>ETF換股預測</h1>
  
    <div class="div-2">
      <div class="column">
        <div class="chart">
          <div id="graph-1" class="chart-container"></div>
        </div>
      </div>
      <div class="strategy-detail-all">
        <div class="strategy-detail">
          <div class="strategy-detail-element">
            <div class="strategy-detail-title">市值 :</div>
            <div class="strategy-detail-content">串 data</div>
          </div>
          <div class="strategy-detail-element">
            <div class="strategy-detail-title">開盤 :</div>
            <div class="strategy-detail-content">串 data</div>
          </div>
          <div class="strategy-detail-element">
            <div class="strategy-detail-title">收盤 :</div>
            <div class="strategy-detail-content">串 data</div>
          </div>
          <div class="strategy-detail-element">
            <div class="strategy-detail-title">成交價 :</div>
            <div class="strategy-detail-content">串 data</div>
          </div>
        </div>
        <div class="test-botton">
          <button id="backtest-button-1" class="custom-button-1">回測結果</button>
        </div>
      </div>
    </div>
  </div>
  