<aside class="change-stock-time-column">
  <div class="change-stock-time">
    <form>
      <div class="content-area">
        <div class="half-width-column">
          <label for="label1">Label</label>
          <input type="text" id="label1" />
        </div>

        <div class="half-width-column">
          <label for="label2">Label</label>
          <input type="text" id="label2" />
        </div>
        <div class="half-width-column">
          <div>
            <section>
              <header>倒數</header>
              <div>15天</div>
              <div>X時 X分</div>
            </section>
          </div>
        </div>
        <button
          type="button"
          class="custom-button"
          onclick="alert('Button 1 clicked!')"
        >
          Click me!
        </button>
      </div>
    </form>
    <div class="divider"></div>
    <div class="content-area">
      <form>
        <div class="half-width-column">
          <label for="label3">Label</label>
          <input type="text" id="label3" />
        </div>
        <div class="half-width-column">
          <label for="label4">Label</label>
          <input type="text" id="label4" />
        </div>
        <div class="half-width-column">
          <div>
            <section>
              <header>倒數</header>
              <div>15天</div>
              <div>X時 X分</div>
            </section>
          </div>
          <button
            type="button"
            class="custom-button"
            onclick="alert('Button 2 clicked!')"
          >
            Click me!
          </button>
        </div>
      </form>
    </div>
    <div class="divider"></div>
    <div class="content-area">
      <form>
        <div class="half-width-column">
          <label for="label5">Label</label>
          <input type="text" id="label5" />
        </div>
        <div class="half-width-column">
          <label for="label6">Label</label>
          <input type="text" id="label6" />
        </div>
        <div class="half-width-column">
          <div>
            <section>
              <header>倒數</header>
              <div>15天</div>
              <div>X時 X分</div>
            </section>
          </div>
          <button
            type="button"
            class="custom-button"
            onclick="alert('Button 3 clicked!')"
          >
            Click me!
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="content-area">
    <section>
      <header>001234 換股</header>
    </section>
    <section>
      <header>
        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
      </header>
    </section>
  </div>
</aside>
